<form method="POST">
	{{ csrf_token() }}
	<input type="text" name="name" value="{{ old('name') }}">
	{{ error('name') }}
	<input type="text" name="body" value="{{ old('teste') }}">
	{{ error('body') }}
	<input type="submit"/>
</form>
