<form method="POST">
	{{ csrf_token() }}

	<input type="text" name="name" value="{{ old('name') }}">
	{{ error('name') }}

	<br/>

	<input type="text" name="subject" value="{{ old('subject') }}">
	{{ error('subject') }}

	<br/>

	<input type="submit"/>
</form>
