{% extends "layouts/admin.twig" %}

{% set title = "Usu치rios" %}

{% block buttons %}
    <a href="{{ admin_url('/users/create') }}" class="btn-sm btn btn-primary">
        Criar
    </a>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Usu치rios</h3>

            <div class="card-tools">
                <form class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="search" class="form-control float-right" placeholder="Pesquisar" value="{{ request.getQueryParam('search', '') }}">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-body table-responsive p-0">
            <table class="table table-head-fixed text-nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Tipo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <img 
                                    src="{{ user.avatar_url }}" 
                                    width="50"
                                    height="50" 
                                    class="rounded-100"
                                />
                            </td>
                            <td>
                                {{ user.id }}
                            </td>
                            <td>
                                {{ user.name }}
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                {{ user.type_label }}
                            </td>
                            <td>
                                <a 
                                    class="btn btn-info btn-sm" 
                                    href="{{ admin_url("/users/#{user.id}/edit") }}"
                                >
                                    <i class="fas fa-pencil-alt"></i>
                                    Editar
                                </a>

                                {% if user.id != currentUser.id %}
                                    <a
                                        class="btn btn-danger btn-sm btn-delete" 
                                        href="{{ admin_url("/users/#{user.id}") }}"
                                        data-delete-message="
                                            Deseja mesmo deletar o usu치rio <strong>{{ user.name }}</strong>?
                                        "
                                    >
                                        <i class="fas fa-pencil-alt"></i>
                                        Remover
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">
                                <b>
                                    Nenhum usu치rio foi encontrado.
                                </b>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ users.links | raw }}
        </div>
    </div>
{% endblock %}