<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="{{ asset_css('admin.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
		<script src="{{ setting('font-awesome.kit') }}" crossorigin="anonymous"></script>
	</head>
	<body class="hold-transition login-page">
		<div class="login-box">
			<div class="login-logo">
				<a href="{{ app_url() }}">
					<b>{{ app_name() }}</b>
				</a>
			</div>

			<div class="card">
				<div class="card-body login-card-body">
					<p class="login-box-msg">Entre para iniciar uma sessão</p>

					<form action="{{ app_url() }}" method="post">
						<div class="input-group mb-3">
							<input type="email" class="form-control" placeholder="E-mail">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-envelope"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input type="password" class="form-control" placeholder="Senha">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-8">
								<div class="icheck-primary">
									<input type="checkbox" id="remember">
									<label for="remember">
										Lembrar-me
									</label>
								</div>
							</div>

							<div class="col-4">
								<button type="submit" class="btn btn-primary btn-block">Entrar</button>
							</div>
						</div>
					</form>

					<p class="mb-1">
						<a href="#">Eu esqueci minha senha</a>
					</p>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="{{ asset_js('admin.js') }}"></script>

	</body>
</html>
