<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title('Entrar') }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ asset_css('admin.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
		<script src="{{ setting('font-awesome.kit') }}" crossorigin="anonymous"></script>
	</head>
	<body class="hold-transition login-page">
		<div class="login-box">
			<div class="login-logo">
				<a href="{{ app_url() }}" class="logo">
					<b>{{ app_name() }}</b>
				</a>
			</div>

			<div class="card">
				<div class="card-body login-card-body">
					<p class="login-box-msg">Entre para iniciar uma sessão</p>

					<form method="post">
						{{ csrf_token() }}

						<div class="input-group mb-3">
							<input type="email" name="email" class="form-control {{ errors.has('email') ? 'is-invalid' : '' }}" placeholder="E-mail" value="{{ old('email') }}">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-envelope"></span>
								</div>
							</div>
							<span class="error invalid-feedback">{{ error('email') }}</span>
						</div>
						<div class="input-group mb-3">
							<input type="password" name="password" class="form-control {{ errors.has('password') ? 'is-invalid' : '' }}" placeholder="Senha" value="{{ old('password') }}">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
							<span class="error invalid-feedback">{{ error('password') }}</span>
						</div>
						<div class="row justify-content-end mb-2">
							<div class="col-4 pull-right">
								<button type="submit" class="btn btn-primary btn-block">Entrar</button>
							</div>
						</div>
					</form>

					<p class="mb-1">
						<a href="#">Eu esqueci minha senha</a>
					</p>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="{{ asset_js('admin.js') }}"></script>
	</body>
</html>
